.popup__bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition:1s all;
}
.popup__bg.active{
    opacity: 1;
    pointer-events: all;
    transition:1s all;
}

.close-popup{
    position: absolute;
    display: flex;
    justify-content: end;
    top: 0;
    right: 0;
}
.close-popup img{
    width: 20px;
}
.text-popup{
    text-align: center;
}

.popup{
    padding: 20px;
    width:auto;
    height:auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: aliceblue;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}
.flex__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    border: 5px solid red;
}
.felx__item_text{
    display: flex;
    gap: 2px;
    margin: 5px;
}
.button{
    display: inline;
    padding: 5px;
    background-color: red;
    border-radius: 10px;
}